* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  color: #313131;
  text-align: center;
}

header {
  background-color: #bf262b;
  color: #eceff1;
  padding: 1px;
  line-height: 1;
}

#start-menu {
  background-color: #e0e0e0;
  width: 500px;
  margin: auto;
  margin-top: 40px;
  padding: 40px;
  border-radius: 20px;
}
#start-button {
  padding: 8px 16px 8px 16px;
  font-weight: 700;
}
#combo-button {
  margin: 10px;
  padding: 8px 16px 8px 16px;
  font-weight: 700;
}
#review {
  margin-bottom: 20px;
}

div.captcha-grid {
  width: 100%;
  display: block;
  font-size: 0;
}

div.captcha-cell {
  font-size: 12px;
  display: inline-block;
  height: 200px;
  width: 300px;
  background-color: #fff;
  border: 1px solid black;
  margin: 2px;
}

img.captcha-img {
  height: 100%;
  width: 100%;
  border: 0px;
  cursor: pointer;
}

div.review-cell-bad {
  border: 10px solid red;
}
div.review-cell-good {
  border: 10px solid green;
}
img.review-img {
  cursor: default;
}
